.intro_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid black
}

.intro_subtitle {
    color: var(--black);
    font-weight: 200;
    font-size: 2rem;
    width: 100%;
}

.intro_title {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5px;
    width: 100%;
}

.intro_text {
    color: var(--black);
    font-size: 1.2rem;
    opacity: 0.7;
    width: 100%;
}
.intro_content {
    padding-top: 6.6rem;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 2rem;
}

.social {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
    width: 100%;
}

.social_link {
    margin-right: 0.75rem;
    text-decoration: none;
}

.social_link:hover {
    transform: translateY(-5px);
}

.git_favicon {
    width: 41px;
    height: 41px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 2rem;
    width: 12.5rem;

    border: 1px solid black;
    border-radius: 1.8rem;
    background: none;
    cursor: pointer;

    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
}

.btn:hover {
    background: black;
    color: white;
}

.intro_photo {
    bottom: -1px;
    right: 0;
    z-index: 1;
    margin-bottom: 1rem;
    border-radius: 30px;
    object-fit: cover;
}

.photo-container {
    display: flex;
    height: 650px;
    width: 50%;
}

.photo-container img {
    max-height: 100%;
    width: 100%;
}

@media  screen and (max-width: 1000px) {
    .intro_content {

    }
}
