@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=DynaPuff:wght@600&family=Luckiest+Guy&family=Monoton&family=Rubik+Dirt&family=Rubik+Marker+Hatch&family=Silkscreen&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
}

p {
  margin: 0 0 1rem;
}

:root {
  --black: #2b2a2c;
  --white: #ffffff;
  --gray-light: #dedede;
  --gray: #6a696b;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  overflow: hidden;
  overscroll-behavior-x: none;
}

