
.work_logo {
    background: linear-gradient(to right, #56a8b4, #11dae9, #21f1f9, #08effa, #11dae9);
    height: 209px;
    width: 370px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.5rem;
}

.work_name {
    opacity: 0.7;
    /*color: #413841;*/
}

.text_center {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
}

.works {
    margin-bottom: 7rem;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    overflow: hidden;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.work:hover {
    box-shadow: 0 0 25px black;
}

.work_content {
    padding: 1rem 0.8rem;
}

.work_cat {
    font-size: 0.75rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.work_title {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
}

.project-link:active, /* активная/посещенная ссылка */
.project-link:hover,  /* при наведении */
.project-link {
    text-decoration: none;
    color: black;
}

@media(max-width: 1199px) {
    .work {
        width: 100%;
        margin: 1rem auto;
        border-radius: 1.5rem;
    }

    .work_logo {
        width: 100%;
    }

    .work_cat {
        font-size: 1rem;
    }

    .work_title {
        font-size: 1.5rem;
    }
}

@media(max-width: 1000px) {
    .work_cat {
        font-size: 0.7rem;
    }

    .work_title {
        font-size: 0.9rem;
    }

    .text_center {
        margin: 1rem auto;
    }

    .works {
        margin-bottom: 2rem;
    }
}